<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumTest" parallel="tests" thread-count="3">
	<test name="AllTestCases">
		<classes>
			<class name="basics.A_ActionsClass" />
			<class name="basics.B_SelectClass" />
			<class name="basics.C_JSAlerts" />
			<class name="basics.D_Waits" />
			<class name="basics.E_Windows" />
			<class name="basics.F_Frames" />
			<class name="basics.Z_BrowserLaunch" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
