<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="3" parallel="classes" name="SeleniumTest">
  <test name="AllTestCases">
    <classes>
      <class name="basics.E_Windows"/>
      <class name="basics.A_ActionsClass"/>
      <class name="basics.Z_BasicsInOne"/>
      <class name="basics.D_Waits"/>
      <class name="basics.B_SelectClass"/>
      <class name="basics.G_JSExamples"/>
      <class name="basics.F_Frames"/>
      <class name="basics.Z_BrowserLaunch"/>
      <class name="basics.C_JSAlerts"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
